<!DOCTYPE html>
<html>
<head>
  <title>Template Python Flask</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" href="/static/images/favicon.ico">

  <!-- Project Stylesheet -->
  <link rel="stylesheet" href="/static/css/stylesheet.css">

  <!-- Project Javascript -->
  <script src="/static/js/index.js"></script>
</head>
<body>
  <div class="container">
    <h1>Template Python Flask</h1>
    <p>
      This is a starter Flask application.
    </p>
    <p>
      You can see the nitty gritty source code located <a href="https://github.com/simonfong6/template-python-flask">here</a>.
    </p>
  </div>
</body>
</html>